name: Run Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.13']

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run unit tests
        run: python3 -m unittest tests.test_square

      - name: Run unit tests
        run: python3 -m unittest tests.test_triangle

      - name: Run unit tests
        run: python3 -m unittest tests.test_rectangle

      - name: Run unit tests
        run: python3 -m unittest tests.test_circle
